<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">CarCraze</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarResponsive"
          aria-controls="navbarResponsive"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/register">Register</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Full Page Image Header with Vertically Centered Content -->
    <header class="masthead">
      <div class="container h-100">
        <div class="row h-100 align-items-center">
          <div class="col-12 text-center">
            <h1 class="fw-light"></h1>
            <p class="lead"></p>
          </div>
        </div>
      </div>
    </header>

    <!-- Page Content -->
    <section class="py-5">
      <h2 >New arrivals</h2>
      <div class="container">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://imgd.aeplcdn.com/664x374/n/cw/ec/121943/verna-exterior-right-front-three-quarter-101.jpeg?isig=0&q=80" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Hyundai Verna</h5>
              <p class="card-text">The Hyundai Verna has 2 Petrol Engine on offer. The Petrol engine is 1497 cc and 1482 cc . It is available with Manual & Automatic transmission.</p>
              <a href="#" class="btn btn-primary">Buy now</a>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://imgd.aeplcdn.com/664x374/n/cw/ec/139133/aura-exterior-right-front-three-quarter-5.jpeg?isig=0&q=80" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Hyundai Aura</h5>
              <p class="card-text">The new Hyundai AURA presents a smart and convenient mobility solution for Indian customer. The new black grille and LED DRLs give it that unmistakable presence & command on the road. Rear Wing Spoiler.</p>
              <a href="#" class="btn btn-primary">Buy now</a>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://media.zigcdn.com/media/model/2023/Oct/aston-martin-db-12-coupe_270x180.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Aston Martin</h5>
              <p class="card-text">The features list comprises a 10.25-inch touchscreen infotainment system that supports Apple Carplay connectivity, a 10.25-inch driver’s display, </p>
              <a href="#" class="btn btn-primary">Buy now</a>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://media.zigcdn.com/media/model/2023/Oct/harrier_270x180.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Tata Harrier</h5>
              <p class="card-text">Tata Harrier is a 5 seater SUV car in a price range of Rs. 15.49 Lakh to 26.44 Lakh in India with 5 star safety rating. Harrier is offered with 2L diesel engine along with both manual and automatic transmission options</p>
              <a href="#" class="btn btn-primary">Buy now</a>
            </div>
          </div>
      </div>
    </section>
  </body>
</html>
